<div style="background-color: #c2c2c2; padding: 15px;">
    <h2 style="margin: 0; padding: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: #5865F2; color: #ffffff;">Activate your account</h2>
    <div style="margin: 0; padding: 15px; background-color: #ffffff;">
        <p>Hi {{ first_name }},</p>
        <p>Please click on the button below to reset your password.</p>
        <a href="{{ domain }}api/reset-password/{{ uid }}/{{ token }}/" style="border: 0; color: #ffffff; background-color: #5865F2; padding: 15px; font-weight: bold; text-decoration: none; border-radius: 5px;">
            Reset Password
        </a>
    </div>
</div>